@font-face {
  font-family: "GoudyBookletter";
  src: url("goudy_bookletter_1911.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  container-type: scroll-state;
  container-name: scroller;
  cursor: default;
  margin: 0;
  font-family: Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
  font-size: clamp(1.3rem, 1.4vmax, 1.6rem);
  color: var(--color-text);

  @media (width >= $viewport-DESKTOP) {
    scroll-snap-type: y mandatory;
  }
}


body {
  margin: 0;
  background: var(--color-background);
}

h1, h2, h3 {
  font-family: GoudyBookletter, serif;
  color: var(--color-header);
  font-weight: normal;
}

h1 {
  font-size: 2rem;

  a {
    color: currentColor;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

h2 {
  font-size: 1.8rem;
}

h3 {
  font-size: 1.35rem;
}