@font-face {
  font-family: "GoudyBookletter";
  src: url("goudy_bookletter_1911.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

html {
  cursor: default;
  font-family: 'Iowan Old Style', 'Palatino Linotype', 'URW Palladio L', P052, serif;
  font-size: clamp(1.25rem, 1.4vmax, 1.55rem);
  color: #333;
  scroll-snap-type: y mandatory;
}

body {
  margin: 0;
}

h1, h2, h3 {
  font-family: GoudyBookletter, serif;
  color: #444;
  font-weight: normal;
}

h1 {
  font-size: 2.5rem;

  a {
    color: currentColor;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

h2 {
  font-size: 1.9rem;
}

h3 {
  font-size: 1.35rem;
}