.post-footer {
  text-align: center;

  @media (width >= $viewport-DESKTOP) {
    scroll-snap-align: center;
  }
}

.footer {
  @media (width >= $viewport-DESKTOP) {
    scroll-snap-align: center;
  }
}