.header {
  scroll-snap-align: start;

  h1 {
    transform: translate(-.3em,-38%);
    margin: 0;
    color: var(--color-head);
    font-size: 8vw;
    line-height: 1;

    &:hover {
      color: var(--color-link);
    }

    @media (max-width: $viewport-mobile) {
      font-size: 10vw;
    }
  }

  a:hover {
    text-decoration: none;
  }
}