.header {
  scroll-snap-align: start;

  h1 {
    margin: 0;
    color: var(--color-head);
    font-size: 8vw;
    line-height: 1;
    transform: translate(0,-32%);
    text-align: center;

    a {
      display: inline-block;
      transform: perspective(10rem) rotateX(-3deg);
      transform-origin: center;
    }

    a:hover {
      color: var(--color-link);
      text-decoration: none;
    }
  
    @media (width <= $viewport-MOBILE) {
      font-size: 10vw;
    }
  }
}