.posts {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.post {
  display: grid;
  grid-template-columns: minmax(10rem, 17rem) 1fr;
  column-gap: calc(var(--post-gap) / 2);
  margin-top: var(--post-gap);
  margin-bottom: var(--post-gap);
  scroll-snap-align: center;

  @media (max-width: $viewport-MOBILE) {
    grid-template-columns: unset;
    margin-bottom: var(--post-gap);
  }
}

.post-header {
  .post-title {
    margin: 0;
    color: hsl(var(--color-primary-hue), var(--color-accent-saturation), 25%);
    line-height: 1;
    text-wrap: balance;

    a:hover {
      color: var(--color-link);
      text-decoration: none;
    }    
  }
  .post-meta {
    margin-bottom: .2rem;
    color: hsla(var(--color-primary-hue), var(--color-accent-saturation), 20%, 0.8);
  }
  @media (max-width: $viewport-MOBILE) {
    --padding: calc(var(--post-gap) / 4);
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    border-top: .2rem solid var(--color-accent);
    width: 100%;
    max-width: 50ch;
    padding-top: 1rem;
  }
  @media (min-width: $viewport-DESKTOP) {
    --bg-size: 6px;
    --bg-color1: hsla(var(--color-primary-hue), var(--color-accent-saturation), 90%, 1);
    --bg-color2: hsla(var(--color-primary-hue), var(--color-accent-saturation), 95%, 1);

    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 1;
    border-right: .3rem solid var(--color-accent);
    border-radius: 0 .3rem .3rem 0;
    padding: 1.5rem 1rem 1.5rem .5rem;
    text-align: right;
    
    background:
      conic-gradient(at 60% 60%,var(--bg-color1) 75%,#0000 0) 0 0/calc(5*var(--bg-size)/2) calc(5*var(--bg-size)/2),
      repeating-conic-gradient(var(--bg-color1) 0 25%,#0000 0 50%) 0 0/calc(5*var(--bg-size)) calc(5*var(--bg-size)),
      repeating-conic-gradient(var(--bg-color2) 0 25%,var(--bg-color1) 0 50%) 0 0/var(--bg-size) var(--bg-size); 
    
    .post-header-top {
      flex-grow: 1;
    }
  }
}


.post-content {
  @media (max-width: $viewport-MOBILE) {
    --padding: calc(var(--post-gap) / 4);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 50ch;
  }
  @media (min-width: $viewport-DESKTOP) {
    grid-column-start: 2;
    grid-column-end: 2;
    width: fit-content;
    
    .columns {
      columns: 34ch;
      gap: calc(var(--post-gap) / 2);
      max-height: calc(100vh - var(--post-gap));

      &::after {
        content: "â¦";
        display: block;
        margin-top: 1em;
        height: calc(100vh - var(--post-gap));
      }
    }

  }
  
  p:first-child {
    font-size: larger;
  }

  h2, h3 {
    margin-top: 1em;
    margin-bottom: .5rem;
    line-height: 1;
  }

  .columns > *:first-child {
    margin-top: 0;
  }

  :is(p, ul, ol) {
    margin: 1.5rem 0;
  }
  :is(h2, h3) + :is(p, ul, ol) {
    margin-top: .5rem;
  }
}

figure {
  display: flex;
  flex-direction: column;
  margin: 0;
  border-radius: var(--border-radius);
  max-width: 100vw;
  overflow: hidden;
  padding: .5rem;
  background-color: var(--color-greyBg);
  box-shadow: 0 3px 0px 0px var(--color-greyBgDark);

  @media (min-width: $viewport-DESKTOP) {
    &.portrait {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }

  figcaption {
    font-size: 0.85em;
    padding: .5rem 0 0 0;
  }

  img {
    object-fit: contain;
    margin: 0 auto;
    max-width: 100%;
    height: 100%;
    max-height: clamp(40vh,50vh,40rem);
    background-color: var(--color-greyBg);
  }
}
* + figure {
  margin-top: 1.5rem;
}
