.posts {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.post {
  display: grid;
  grid-template-columns: auto 1fr;
  position: relative;
  column-gap: calc(var(--post-gap) / 2);
  scroll-snap-align: center;
  margin-top: var(--post-gap);
  margin-bottom: var(--post-gap);

  @media (width <= $viewport-MOBILE) {
    grid-template-columns: unset;
    margin-bottom: var(--post-gap);
  }
}

.post-header {
  position: sticky;
  z-index: 1;
  left: 0;
  background-color: #fff;
  box-shadow: 2rem 0 1rem 0 #fff;

  .post-title {
    margin: 0;
    color: hsl(var(--color-primary-hue), var(--color-accent-saturation), 25%);
    line-height: 1;
    text-wrap: balance;
    a {
      text-decoration: none;
    }
  }
  .post-meta {
    margin-bottom: 0.2rem;
    color: hsla(
      var(--color-primary-hue),
      var(--color-accent-saturation),
      20%,
      0.8
    );
  }
  @media (width <= $viewport-MOBILE) {
    --padding: calc(var(--post-gap) / 4);
    margin-bottom: 3rem;
    margin-left: auto;
    margin-right: auto;
    border-top: 0.2rem solid var(--color-accent);
    width: 100%;
    max-width: 50ch;
    padding-top: 1rem;
  }
  @media (width >= $viewport-DESKTOP) {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 0.5rem;
    grid-column-start: 1;
    grid-column-end: 1;
    padding: 1.5rem 1rem 1.5rem 0.5rem;

    .post-time {
      display: inline-block;
      writing-mode: vertical-lr;
      text-orientation: upright;
    }

    .post-title {
      writing-mode: vertical-rl;
      text-orientation: mixed;
      font-size: 3rem;
    }
  }
}

.post-content {
  @media (width <= $viewport-MOBILE) {
    --padding: calc(var(--post-gap) / 4);
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 50ch;
  }
  @media (width >= $viewport-DESKTOP) {
    grid-column-start: 2;
    grid-column-end: 2;
    width: fit-content;

    .columns {
      columns: 1;
      gap: calc(var(--post-gap) / 2);
      max-height: calc(100vh - var(--post-gap));
      max-width: 35ch;

      &::after {
        content: "â¦";
        display: block;
        margin-top: 1em;
        height: calc(100vh - var(--post-gap));
      }
    }
  }

  p:first-child {
    font-size: larger;
    transform-origin: center;
  }

  h2,
  h3 {
    margin-top: 1em;
    margin-bottom: 0.5rem;
    line-height: 1;
  }

  .columns > *:first-child {
    margin-top: 0;
    margin-bottom: 3rem;
  }

  :is(p, ul, ol) {
    margin: 1.5rem 0;
  }
  :is(h2, h3) + :is(p, ul, ol) {
    margin-top: 0.5rem;
  }
}

figure {
  transform: perspective(15rem) rotateX(1deg) translateY(-3%);
  transform-origin: center;
  display: flex;
  flex-direction: column;
  margin: 0;
  border-radius: var(--border-radius);
  max-width: 100vw;
  overflow: hidden;
  padding: 0.5rem;
  background-color: var(--color-greyBg);
  box-shadow: 0 3px 0px 0px var(--color-greyBgDark);

  @media (width >= $viewport-DESKTOP) {
    &.portrait {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }

  figcaption {
    font-size: 0.85em;
    padding: 0.5rem 0 0 0;
  }

  img {
    object-fit: contain;
    margin: 0 auto;
    max-width: 100%;
    height: 100%;
    max-height: clamp(40vh, 50vh, 40rem);
    background-color: var(--color-greyBg);
  }
}
* + figure {
  margin-top: 1.5rem;
}
