.posts {
  display: flex;
  flex-direction: column;
  position: relative;
  z-index: 2;
}

.post {
  display: grid;
  grid-template-columns: minmax(15rem, 25rem) minmax(16rem, 20rem);
  column-gap: var(--post-gap);
  padding-top: calc(var(--post-gap) / 4);
  padding-bottom: calc(var(--post-gap) / 4);
  scroll-snap-align: center;

  @media (max-width: $viewport-mobile) {
    grid-template-columns: unset;
    margin-bottom: var(--post-gap);
  }
}

.post-header {
  display: none;
  @media (min-width: $viewport-mobile) {
    display: flex;
    flex-direction: column;
    grid-column-start: 1;
    grid-column-end: 1;
    border-right: 10px solid var(--color-accent);
    padding: 2rem;
    text-align: right;
    background-color: hsla(var(--color-primary-hue), var(--color-accent-saturation), var(--color-accent-lightness), 0.1);
  
    .post-header-top {
      flex-grow: 1;
    }
  
    .post-title {
      margin: 0;
      color: hsl(var(--color-primary-hue), var(--color-accent-saturation), 25%);
      line-height: 1;
  
      a:hover {
        text-decoration: none;
      }    
    }
  
    .post-meta {
      font-size: 0.8em;
      color: hsla(var(--color-primary-hue), var(--color-accent-saturation), 20%, 0.8);
    }
  
    .post-hint {
      color: hsla(var(--color-primary-hue), var(--color-accent-saturation), 20%, 0.8);
      font-size: 0.7rem;
  
      svg {
        height: 1rem;
        fill: hsla(var(--color-primary-hue), var(--color-accent-saturation), 20%, 0.8);
      }
    }
  }
}


.post-content {
  @media (max-width: $viewport-mobile) {
    --padding: calc(var(--post-gap) / 4);
    margin-left: auto;
    margin-right: auto;
    width: calc(100vw - var(--padding) * 2);
    max-width: 50ch;
  }
  @media (min-width: $viewport-mobile) {
    columns: 16rem;
    column-rule: 1px dashed hsla(0, 0%, 0%, .15);
    gap: calc(var(--post-gap) / 1.5);
    grid-column-start: 2;
    grid-column-end: 2;
    max-height: calc(100vh - var(--post-gap));
  }

  .post-time {
    color: hsl(var(--color-primary-hue), var(--color-accent-saturation), 35%);
  }

  .post-title {
    margin-top: 0;
    color: hsl(var(--color-primary-hue), var(--color-accent-saturation), 35%);
    line-height: 1;

    a:hover {
      color: var(--color-link);
      text-decoration: none;
    }
  }

  @media (min-width: $viewport-mobile) {
    .post-title, .post-time {
      display: none;
    }
  }
  
  p:first-child, h1 + p {
    font-size: larger;
  }

  h2, h3 {
    margin-top: 1em;
    margin-bottom: .5rem;
  }

  & > *:first-child, h1 + p  {
    margin-top: 0;
  }

  :is(p, ul, ol) {
    margin: 1.5rem 0;
  }
  :is(h2, h3) + :is(p, ul, ol) {
    margin-top: .5rem;
  }
}

figure {
  display: flex;
  flex-direction: column;
  margin: 0;
  border-radius: var(--border-radius);
  max-width: 100vw;
  overflow: hidden;
  background-color: var(--color-greyBg);
  box-shadow: 0 3px 0px 0px var(--color-greyBgDark);

  @media (min-width: $viewport-mobile) {
    &.portrait {
      margin-left: 2rem;
      margin-right: 2rem;
    }
  }

  figcaption {
    font-size: 0.85em;
    padding: .5rem 1rem;
  }

  img {
    object-fit: cover;
    max-width: 100%;
    height: 100%;
    max-height: clamp(40vh,68vh,40rem);
    background-color: var(--color-greyBg);
  }
}
* + figure {
  margin-top: 1.5rem;
}
