$viewport-MOBILE: 1100px;
$viewport-DESKTOP: $viewport-MOBILE + 1px;

:root {
    --post-gap: clamp(2rem, 10vmax, 5rem);
    --page-gap: 3rem;

    --border-radius: 10px;

    --color-text: #333;
    --color-header: #555;
    --color-link: #6969da;

    --color-primary-hue: 60.92deg;

    --color-head-saturation: 10%;
    --color-head-lightness: 70%;
    --color-head: hsl(var(--color-primary-hue), var(--color-head-saturation), var(--color-head-lightness));

    --color-greyBg-saturation: 5%;
    --color-greyBg-lightness: 95%;
    --color-greyBg: hsl(var(--color-primary-hue), var(--color-greyBg-saturation), var(--color-greyBg-lightness));

    --color-greyBgDark-saturation: 5%;
    --color-greyBgDark-lightness: 85%;
    --color-greyBgDark: hsl(var(--color-primary-hue), var(--color-greyBgDark-saturation), var(--color-greyBgDark-lightness));

    --color-accent-saturation: 29.97%;
    --color-accent-lightness: 47.7%;
    --color-accent: hsl(var(--color-primary-hue), var(--color-accent-saturation), var(--color-accent-lightness));
}

